# the only reason this exists is because i want netscape to recognize my site :3

RewriteEngine On

RewriteCond %{HTTP_USER_AGENT} ^Mozilla/5\.0\s\(Windows;\sU;\sWindows\sNT\s5\.1;\sen-US;\srv:1\.8\.1\.([0-9]+)\)\sGecko/.*\sNetscape/9 [NC]
RewriteCond %{HTTPS} on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=307,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_USER_AGENT} !^Mozilla/5\.0\s\(Windows;\sU;\sWindows\sNT\s5\.1;\sen-US;\srv:1\.8\.1\.([0-9]+)\)\sGecko/.*\sNetscape/9 [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]